<div class="users-show">
  <section class="users-show-box">
    <div class="user-avatar">
      <%= profile_image_for(@user, size: 120) %>
    </div>

    <div class="profile-user-name">
      <h2><%= @user.username %></h2>

      <div class="user-actions">
        <%= render "users/follow_button", user: @user, show_unfollow: true %>

        <% if current_user == @user %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "edit-profile-btn" %>
        <% end %>
      </div>
    </div>

    <div class="user-stats">
      <span><strong>Followers: </strong><%= @user.followers.count %></span>
      <span><strong>Following: </strong><%= @user.following.count %></span>
      <span><strong>Posts: </strong><%= @user.posts.count %></span>
    </div>
  </section>

  <section class="user-posts">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <%= render post, user_links: false, truncate_body: true, edit_option: true %>
      <% end %>
    <% else %>
      <% if current_user == @user %>
        <p>Get started and <%= link_to "create a post!", new_post_path(current_user) %></p>
      <% else %>
        <p><%= @user.username %> has not created any posts.</p>
      <% end %>
    <% end %>
  </section>
</div>