<div class="users-show">
  <div class="user-show-box">
    <div class="user-show-info">
      <div class="user-avatar">
        <%= profile_image_for(@user, size: 100) %>
      </div>
      <div class="profile-user-name">
        <h2><%= @user.username %></h2>
        <%= render "users/follow_button", user: @user, show_unfollow: true %>
        <% if current_user == @user %>
          <%= link_to "Edit Profile", edit_user_registration_path %>
        <% end %>
      </div>

      <div class="user-stats">
        <span><strong>Followers: </strong><%= @user.followers.count %></span>
        <span><strong>Following: </strong><%= @user.following.count %></span>
        <span><strong>Posts: </strong><%= @user.posts.count %></span>
      </div>
    </div>
  </div>

  <div class="user-posts">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <%= render post, user_links: false, truncate_body: true, edit_option: true %>
      <% end %>
    <% else %>
      <% if current_user == @user %>
        <p>Get started and <%= link_to "create a post!", new_post_path(current_user) %></p>
      <% else %>
        <p><%= @user.username %> has not created any posts.</p>
      <% end %>
    <% end %>
  </div>
</div>