<div class="form-container">
  <%= form_with(model: post, data: { turbo: false }) do |form| %>
    <div class="post-form">
      <div class="form-field">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-textfield" %>
        <% post.errors.full_messages_for(:title).each do |msg| %>
          <div class="form-error"><%= msg %></div>
        <% end %>
      </div>

      <div class="form-field">
        <%= form.label :body, "Write something", class: "form-label" %><br>
        <%= form.text_area :body, class: "form-textarea" %>
        <% post.errors.full_messages_for(:body).each do |msg| %>
          <div class="form-error"><%= msg %></div>
        <% end %>
      </div>

      <div class="form-actions">
        <%= form.submit (post.persisted? ? "Update Post" : "Create Post"), class: "form-submit-btn" %>
      </div>
    </div>
  <% end %>
</div>