<turbo-frame id="<%= dom_id(post) %>">
  <div class="post-box" 
    <% if local_assigns[:clickable] != false %>
      data-controller="post-click"
      data-post-click-url-value="<%= post_path(post) %>"
      style="cursor: pointer"
    <% end %>
  >
    <div class="post-user-date">
      <div class="post-user-info">
        <% if local_assigns[:user_links] != false %>
          <%= link_to user_path(post.user), data: { turbo_frame: "_top", action: "click->post-click#stopPropagation" }, class: "user-link" do %>
            <span class="post-user-avatar">
              <%= profile_image_for(post.user, size: 40) %>
            </span>
            <strong><%= post.user.username %></strong>
          <% end %>
        <% else %>
          <span class="post-user-avatar"><%= profile_image_for(post.user, size: 40) %></span>
          <strong><%= post.user.username %></strong>
        <% end %>
      </div>

      <div class="post-date-follow">
        <small>
          <%= time_ago_in_words(post.created_at) %> ago
        </small>
        <% if local_assigns[:user_links] != false %>
          <%= render "users/follow_button", user: post.user, data_action: "click->post-click#stopPropagation" %>
        <% end %>
      </div>
    </div>

    <div class="post-title">
      <h2><%= simple_format(post.title) %></h2>
    </div>

    <div class="post-body <%= 'truncated' if local_assigns[:truncate_body]==true %>">
      <p><%= post.body.gsub(/\r?\n/, "<br>").html_safe %></p>
    </div>

    <div class="post-actions" data-action="click->post-click#stopPropagation">
      <div class="like-button">
        <%= render "likes/like_button", likeable: post %>
      </div>

      <% if current_user == post.user && local_assigns[:edit_option] == true %>
        <div class="post-owner-actions">
          <%= link_to edit_post_path(post), class: "post-edit-btn", title: "Edit" do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>

          <%= button_to post_path(post),
              method: :delete,
              data: { turbo_confirm: "Delete post?" },
              class: "post-delete-btn",
              title: "Delete Post" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>